.inv-dropdown {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding: 0px;
}

.inv-list-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.inv-item-ticker {
  font-weight: 900;
  padding: 4px;
}

.inv-item-company {
  padding: 4px;
}

.inv-item-ex {
  padding: 4px;
}
