.list-titles {
  display: flex;
  text-decoration: underline;
  margin: 10px;
  padding: 5px;
}

.list-item-ctr {
  display: flex;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-item-ctr:hover {
  background-color: var(--clr-light);
  cursor: pointer;
}

.list-col1 {
  width: 20%;
}

.list-col2 {
  width: 15%;
}

.list-col3 {
  width: 10%;
}

.list-col4 {
  width: 10%;
}

.list-col5 {
  width: 10%;
}

.list-col6 {
  width: 10%;
}

.list-col7 {
  width: 10%;
}

.list-col8 {
  width: 15%
}
