.modal-window {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 80%;
  height: 65%;
  transform: translate(-50%, 25%);
  background-color: var(--clr-light);
  padding: 25px;
  z-index: 1000;
  border-radius: 5px;
  min-height: 200px;
  overflow: auto;
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
}

.btn-close-details {
  position: absolute;
  top: 10px;
  right: 10px;
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1.5px;
}

.details-titles {
  display: flex;
}

.details-holding-item {
  display: flex;
}

.details-col1 {
  width: 8%;
}

.details-col2 {
  width: 20%;
}

.details-col3 {
  width: 10%;
}

.details-col4 {
  width: 10%;
}

.details-col5 {
  width: 10%;
}

.details-col6 {
  width: 15%;
}

.details-col7 {
  width: 15%;
}

.details-col8 {
  width: 12%;
}

