.modal-window {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 80%;
  height: 65%;
  transform: translate(-50%, 25%);
  background-color: var(--clr-light);
  padding: 25px;
  z-index: 1000;
  border-radius: 5px;
  min-height: 200px;
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
}

.btn-close-create {
  position: absolute;
  top: 10px;
  right: 10px;
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1.5px;
}

.tkr-search-form {
  width: 500px;
}

.risk-label {
  display: block;
}

.thesis-input {
  height: 175px;
  width: 100%;
}