.modal-window {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 60%;
  height: 50%;
  transform: translate(-50%, 50%);
  background-color: #ffffff;
  padding: 25px;
  z-index: 1000;
  border-radius: 5px;
  min-height: 200px;
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
}