body {
  margin: 0px;
}

#app {
  --clr-primary: #5445c4;
  --clr-secondary: #746d8a;
  --clr-three: #3600a3;
  --clr-four: #8936ff;
  --clr-five: #d4cfff;
  --clr-light: #e7e4f5;
  --clr-border: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  font-size: 16px;
}